.failure-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto';
    text-align: center;
  }
  
  .failure-view {
    height: 300px;
  }
  
  .failure-heading {
    color: #475569;
    margin-left: 20px;
    margin-right: 20px;
  }
  .failure-paragraph {
    color: #475569;
    margin-left: 20px;
    margin-right: 20px;
  }
  .retry-button {
    background-color: #328af2;
    color: #ffffff;
    border: solid 0px;
    font-weight: bold;
    height: 50px;
    width: 120px;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 600px) {
    .failure-heading {
      font-size: 20px;
    }
    .failure-view {
      height: 250px;
    }
  }
  
  @media screen and (max-width: 510px) {
    .failure-view {
      height: 200px;
    }
  }
  
  @media screen and (max-width: 410px) {
    .failure-view {
      height: 150px;
    }
    .failure-paragraph {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 330px) {
    .failure-view {
      height: 125px;
    }
    .failure-paragraph {
      font-size: 12px;
    }
    .failure-heading {
      font-size: 15px;
    }
  }